.overview {
  display: none;
}
.show-overview .overview {
  display: flex;
  flex-wrap: wrap;
  grid-row: 1 / 3;
  justify-content: center;
  overflow-y: auto;
  button {
    margin: 2rem;
    &.active {
      img{
        border-bottom: 0.5rem solid var(--accent);
        margin-top: 0;
      }
    }
    img {
      @include imgShadow;
      border-bottom:  0 solid var(--accent);
      cursor: pointer;
      margin-top: 0.5rem;
      user-select: none;
    }
  }
}

.high-contrast .overview button {
  img {
    outline: 0.2rem solid var(--background);
  }
  &.active {
    img {
      outline: 0.2rem solid var(--accent);
    }
  }
}
