.spinner {
  @include uiShadow;
  display: flex;
  width: 100%;
  button {
    flex: 1;
  }
  input {
    background-color: var(--background);
    border-radius: 0;
    border: none;
    color: #fff;
    flex: 1;
    font-size: $font-size;
    padding: $ui-padding;
    text-align: center;
    &:focus {
      outline: none;
    }
    &::selection {
      background-color: var(--background)--active;
    }
  }

  button {
    background-color: var(--accent--highlight);
    border: none;
    color: var(--neutral);
    cursor: pointer;
    font-size: 2rem;
    padding: 0;
    user-select: none;
  }
}
