.toggle {
  @include uiShadow;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  .toggle-inner {
    background-color: var(--accent--highlight);
    border: none;
    color: var(--neutral);
    cursor: pointer;
    font-size: 2rem;
    padding: $ui-padding;
    transition: width 0.2s;
    user-select: none;
    width: 33%;
  }
  &.active .toggle-inner {
      width: 100%;
  }
}
