.vol-nav {
  @include uiShadow;
  display: flex;
  width: 100%;
  button {
    background-color: $background;
    border: none;
    color: $accent--highlight;
    cursor: pointer;
    flex: 1;
    font-size: $font-size;
    padding: $ui-padding;
    &.active {
      background-color: $background--active;
      color: $neutral;
    }
  }
}
