.vol-nav {
  @include uiShadow;
  display: flex;
  button {
    background-color: var(--background);
    border: none;
    color: var(--neutral);
    cursor: pointer;
    flex: 1;
    font-size: $font-size;
    padding: $ui-padding;
    &.active {
      background-color: var(--background--active);
      color: var(--neutral);
    }
  }
}
