@import "./vars";
@import "./mixins";
@import "./transitions";
@import "./headings";

* {
  box-sizing: border-box;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: $accent;
}

*::-webkit-scrollbar-thumb {
  background-color: $accent--highlight;
  cursor: pointer;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Georgia, Times, Times New Roman, serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
