$margin: 2rem;
$btnHeight: 3rem;

$transition-time: 0.1s;

$delta: #AFAFAE;
$water: #D1E3F0;
$cararra: #F0F0E9;
$comfy: #F0D1D1;
$dusty: #A39393;

.nav-transition,
.scan-transition {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: all $transition-time ease-in $transition-time;
  }
  &-enter-done {
    opacity: 1;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: all $transition-time ease-in;
  }
  &-exit-done {
    opacity: 0;
  }
}

.scan-view--left {
  .scan-transition {
    &-enter {
      left: 2rem;
    }
    &-enter-active {
      left: 0;
    }
    &-enter-done {
      left: 0;
    }
    &-exit {
      left: 0;
    }
    &-exit-active {
      left: -2rem;
    }
    &-exit-done {
      left: -2rem;
    }
  }
}

.scan-view--right {
  .scan-transition {
    &-enter {
      right: 2rem;
    }
    &-enter-active {
      right: 0;
    }
    &-enter-done {
      right: 0;
    }
    &-exit {
      right: 0;
    }
    &-exit-active {
      right: -2rem;
    }
    &-exit-done {
      right: -2rem;
    }
  }
}
