.spinner {
  display: flex;
  height: $btnHeight;
  width: 100%;
  form, button {
    flex: 1;
  }
  form {
    input {
      background-color: $delta;
      border: none;
      box-sizing: border-box;
      color: #fff;
      font-size: 1.5rem;
      height: 100%;
      text-align: center;
      padding: 0;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  button {
    background-color: $comfy;
    border: none;
    color: $dusty;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    user-select: none;
    padding: 0;
  }
}
