.spinner {
  form {
    input {
      background: none;
      border: none;
      border-bottom: 4px solid #333366;
      box-sizing: border-box;
      color: #fff;
      font-size: 1.5rem;
      height: 100%;
      text-align: center;
      width: 100%;
    }
  }
}
