.spinner {
  @include uiShadow;
  display: flex;
  width: 100%;
  form, button {
    flex: 1;
  }
  form {
    input {
      background-color: $background;
      border: none;
      border-radius: 0;
      box-sizing: border-box;
      color: #fff;
      font-size: $font-size;
      height: 100%;
      text-align: center;
      padding: $ui-padding;
      width: 100%;
      &:focus {
        outline: none;
      }
      &::selection {
        background-color: $background--active;
      }
    }
  }

  button {
    background-color: $accent--highlight;
    border: none;
    color: $neutral;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    user-select: none;
    padding: 0;
  }
}
