$margin: 2rem;
$font-size: 1.5rem;
$btn-height: calc(2rem + 1vw);
$ui-padding: 0.5rem 0;

$transition-time: 0.1s;
$transition-dist: 5%;

$delta: #AFAFAE;
$water: #D1E3F0;
$cararra: #F0F0E9;
$comfy: #F0D1D1;
$dusty: #A39393;

$background: $delta;
$accent: $water;
$neutral: $cararra;
$accent--highlight: $comfy;
$background--active: $dusty;
