$margin: 2rem;
$font-size: 1.5rem;
$btn-height: calc(2rem + 1vw);
$ui-padding: 0.5rem 0;

$transition-time: 0.1s;
$transition-dist: 5%;

:root {
  --background: hsl(60, 1%, 68%);
  --accent: hsl(205, 51%, 88%);
  --neutral: hsl(60, 19%, 93%);
  --accent--highlight: hsl(0, 51%, 88%);
  --background--active: hsl(0, 51%, 88%);
  .high-contrast {
    --background: hsl(60, 1%, 45%);
    --accent: hsl(205, 51%, 65%);
    --neutral: hsl(60, 19%, 100%);
    --accent--highlight: hsl(0, 51%, 65%);
    --background--active: hsl(0, 51%, 65%);
  }
}
