$margin: 2rem;
$font-size: 1.5rem;
$btn-height: calc(2rem + 1vw);
$ui-padding: 0.5rem 0;

$transition-time: 0.1s;
$transition-dist: 5%;

$delta: hsl(60, 1%, 68%);
$water: hsl(205, 51%, 88%);
$cararra: hsl(60, 19%, 93%);
$comfy: hsl(0, 51%, 88%);
$dusty: hsl(0, 8%, 61%);

$d: 22.5%;
$l: 10%;

$background: darken($delta, $d);
$accent: darken($water, $d);
$neutral: lighten($cararra, $d);
$accent--highlight: darken($comfy, $d);
$background--active: darken($comfy, $d);
