@import "./common";

@import "./components/scanView";
@import "./components/scanNav";
@import "./components/spinner";
@import "./components/volNav";
@import "./components/toggle";
@import "./components/overview";

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

#chronolog {
  display: grid;
  grid-template-rows: 5rem 1fr auto;
  height: 100%;
  position: fixed;
  text-align: center;
  transition: background-color 0.2s;
  width: 100%;
  header {
    @include uiShadow;
    align-items: center;
    background-color: var(--accent);
    color: white;
    display: flex;
    font-size: calc(6px + 1vmin);
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 $margin;
    text-align: center;
    width: 100%;
    .toggle-contrast {
      box-shadow: none;
      background-color: var(--background);
      height: 3rem;
      width: 3rem;
      button {
        background-color: var(--background);
      }
    }
  }
  main {
    box-sizing: border-box;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 3fr 1fr;
    max-height: 100%;
    padding: $margin;
  }
  nav {
    display: flex;
    flex-direction: column;
    overflow: visible;
  }
}
