@import "./common";
@import "./pageBrowser";
@import "./spinner";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1 {
    margin: 0;
  }
  #root {
    background-color: #111122;
  }
}

.app {
  display: grid;
  height: 100vh;
  grid-template-rows: 10rem 3fr 1fr;
  text-align: center;
  .app-header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  main {
    padding: 0 $margin $margin;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
}

