@import "./common";

@import "./components/scanView";
@import "./components/scanNav";
@import "./components/spinner";
@import "./components/volNav";
@import "./components/toggle";
@import "./components/overview";

#chronolog {
  display: grid;
  grid-template-rows: 5rem 1fr auto;
  inset: 0;
  position: fixed;
  transition: background-color 0.2s;
  header {
    @include uiShadow;
    align-items: center;
    background-color: var(--accent);
    display: flex;
    justify-content: space-between;
    padding: 0 $margin;
    .toggle-contrast {
      box-shadow: none;
      background-color: var(--background);
      height: 3rem;
      width: 3rem;
      button {
        background-color: var(--background);
        width: 100%;
      }
    }
  }
  main {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 3fr minmax(100px, 1fr);
    padding: 5%;
  }
  nav {
    display: flex;
    flex-direction: column;
    overflow: visible;
  }
}
